* {
    font-family: 'Domine', serif;
    color:#111;
    scroll-behavior: smooth;
}

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

p{
    font-size: 24px;
    text-indent: 30px;
}

nav{
    background: #F5CB5C;
    width: 100%;
    z-index: 1;
}

li{
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg{
    position: relative;
}

.bg::before{
    content: " ";
    position: fixed;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../assets/img/bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100vh;
}

.navbar-light .navbar-nav .nav-link:hover,
.btn:hover{
    color: #eee
}

.navbar-light .navbar-nav .nav-link {
    color: #111 ;
    font-size: 18px;
    font-weight: bold;
}

.pergaminho{
    background: url(../assets/img/pergaminho.webp) no-repeat;
    background-size: cover;
    border-radius: 6px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.60));
    margin-bottom: 6rem;
}

.pergaminho:nth-of-type(1){
    margin-top: 15vh;
}

.habilidades .nivel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.habilidades:last-child{
    margin-bottom: 40px ;
}

.habilidade{
    display: flex;
    margin-bottom: 25px;
}

.habilidade img{
    margin-left: 3px;
}

.grafico{
    padding: 8px 1vw 12px;
    border-radius: 4px;
    margin-left: .5rem;
}

.html5{
    background: #E44F26;
    max-height: 50px;
}

.css3{
    background: #35A8DB;
}

.js{
    background: #F5DE19;
}

.wordpress{
    background: #01579B;
}

.docker{
    background: #1D7D93;
}

.bootstrap{
    background: #563D7C;
}

.barco{
    margin-top: 43vh;
    position: fixed;
    max-width: 10rem;
    height: auto;
}

.projetos li img{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.20));
    height: auto;
}

.projetos .call-to-action{
    text-indent: 0px;
}

.projetos li .btn{
    background-color: #F5CB5C;
    font-weight: bold;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.20));
}

.projetos li p:last-of-type{
    text-indent: 0;
}

.projetos .projeto{
    display: none;
}


.projetos .active{
    display: flex;
}

.carrossel{
    justify-content: space-between;
    align-items: center;
}

.carrossel img{
    max-width: 80%;
}

.carrossel span{
    cursor: pointer;
    width: 10%;
}

.carrossel span:hover{
    fill: #eee;
}
.carrossel span:nth-of-type(1){
    text-align: right;
}

.contato .p-0 li {
    display: flex;
}



@media screen and (max-width: 991px) {
   
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    p, a, span{
        font-size: 18px;
    }

    .barco{
        margin-top: 47vh;
    }

    ul.habilidades{
        padding-left: 0;
    }
    .habilidades li img{
        max-height: 40px;
    }
  }


@media screen and (max-width: 576px) {
    .barco{
        margin-top: 47vh;
    }

    .habilidades li img{
        max-height: 35px;
    }
  }

@media screen and (max-width: 470px) {
    h1{
        font-size: 18px;
    }

    h2{
        font-size: 16px;
    }

    p, a, span{
        font-size: 14px;
    }

    .habilidades li img{
        max-height: 30px;
    }
}

@media screen and (max-width: 390px) {
    .nivel span{
       font-size: 12px;
    }

    .habilidades li img{
        max-height: 25px;
    }

}

@media screen and (max-width: 330px) {
    .nivel span{
        font-size: 10px;
    }

    .habilidades li img{
         max-height: 20px;
     }
 }
