* {
    font-family: 'Domine', serif;
    color:#111;
    scroll-behavior: smooth;
}

body{
    background: url(../img/bg.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

p{
    font-size: 24px;
    text-indent: 30px;
}

nav{
    background: #F5CB5C;
}

li{
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

.navbar-light .navbar-nav .nav-link:hover,
.btn:hover{
    color: #eee
}

.navbar-light .navbar-nav .nav-link {
    color: #111 ;
    font-size: 18px;
    font-weight: bold;
}

.pergaminho{
    background: url(../img/pergaminho.webp) no-repeat;
    background-size: cover;
    border-radius: 6px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.60));
    margin-bottom: 6rem;
}

.nivel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.habilidades:last-child{
    margin-bottom: 40px ;
}

.habilidade{
    display: flex;
    margin-bottom: 25px;
}

.habilidade img{
    margin-left: 3px;
}

.grafico{
    padding: 8px 1vw 12px;
    border-radius: 4px;
    margin-left: .5rem;
}

.html5{
    background: #E44F26;
    max-height: 50px;
}

.css3{
    background: #35A8DB;
}

.js{
    background: #F5DE19;
}

.wordpress{
    background: #01579B;
}

.docker{
    background: #1D7D93;
}

.bootstrap{
    background: #563D7C;
}

.barco{
    margin-top: 40vh;
    position: fixed;
    width: 20vw;
    max-width: 15rem;
    height: auto;
}

.projetos li img{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.20));
    height: auto;
}

.projetos .call-to-action{
    text-indent: 0px;
}

.projetos li .btn{
    background-color: #F5CB5C;
    font-weight: bold;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.20));
    margin-bottom: 60px;
}


.projetos li p:last-of-type{
    text-indent: 0;
}

@media screen and (min-width: 1900px) {
    .barco{
        margin-top: 43vh;
    }
}

@media screen and (max-width: 991px) {
   
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    p, a, span{
        font-size: 18px;
    }

    ul.habilidades{
        padding-left: 0;
    }
    .habilidades li img{
        max-height: 40px;
    }
  }


@media screen and (max-width: 576px) {
   
    .habilidades li img{
        max-height: 35px;
    }
  }

  
@media screen and (max-width: 470px) {
    h1{
        font-size: 18px;
    }

    h2{
        font-size: 16px;
    }

    p, a, span{
        font-size: 14px;
    }

    .habilidades li img{
        max-height: 30px;
    }
}

@media screen and (max-width: 390px) {
    .nivel span{
       font-size: 12px;
    }

    .habilidades li img{
        max-height: 25px;
    }

}

@media screen and (max-width: 330px) {
    .nivel span{
        font-size: 10px;
    }
 
    .habilidades li img{
         max-height: 20px;
     }
 
 }
